<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="s01">
      <!--<form method='GET' action="search_result"> -->
      <form method='POST'>

        <fieldset>
          <legend>Start searching</legend>
        </fieldset>

        <div class="inner-form">

          <div class="input-field first-wrap">

            {% from "_formhelpers.html" import render_field %}
                {{ render_field(form.search) }}
          </div>

          <div class="input-field third-wrap">
            <button class="btn-search" type="submit" value="Search">Search</button>
          </div>

        </div>
      </form>

    </div>

    <div>
      {% if results %}
        {% for res in results %}
          <ul>
            <li>{{ res }}</li>
          </ul>
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>
